<div class="landing-container">
     
    <div class="row">

        <div class="col-lg-3 col-md-6 col-sm-12">
            
            <div class="landing-card">
                
                <div class="landing-card-front">
                    <mat-card>
                        
                        <mat-card-header>
                            <div mat-card-avatar class="landing-header-image"><i class="far fa-building"></i></div>
                            <mat-card-title>Construnction</mat-card-title>
                        </mat-card-header>
                        
                        <div class="img-cards">
                            <img mat-card-image src="https://dhcomm.net/images/publics/backgrounds/Construction-PNG-Transparent-Image.png" alt="" />
                        </div>
                        
                        <mat-card-content>

                        </mat-card-content>
                        
                        <mat-card-actions>
                            <button mat-button>LIKE</button>
                            <button mat-button>SHARE</button>
                        </mat-card-actions>
                        
                        
                    </mat-card>
                    
                    
                    
                </div>
                
                <div class="landing-card-back">
                    <mat-card>
                        
                        <mat-card-header>
                            <div mat-card-avatar class="landing-header-image"><i class="far fa-building"></i></div>
                            <mat-card-title>Construnction</mat-card-title>
                        </mat-card-header>
                        
                        <div class="img-cards">
                            <img mat-card-image src="" />
                        </div>
                        
                        <mat-card-content>

                        </mat-card-content>
                        
                        <mat-card-actions>
                            <button mat-button>LIKE</button>
                            <button mat-button>SHARE</button>
                        </mat-card-actions>
                        
                        
                    </mat-card>
                </div>
                
            </div>
            
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12">
            
            <div class="landing-card">
                
                <div class="landing-card-front">
                    <mat-card>
                        
                        <mat-card-header>
                            <div mat-card-avatar class="landing-header-image"><i class="far fa-building"></i></div>
                            <mat-card-title>Construnction</mat-card-title>
                        </mat-card-header>
                        
                        <div class="img-cards">
                            <img mat-card-image src="https://dhcomm.net/images/publics/backgrounds/painting2.png" alt="" />
                        </div>
                        
                        <mat-card-content>

                        </mat-card-content>
                        
                        <mat-card-actions>
                            <button mat-button>LIKE</button>
                            <button mat-button>SHARE</button>
                        </mat-card-actions>
                        
                    </mat-card>
                </div>
                
                <div class="landing-card-back">
                    <mat-card>
                        
                        <mat-card-header>
                            <div mat-card-avatar class="landing-header-image"><i class="far fa-building"></i></div>
                            <mat-card-title>Construnction</mat-card-title>
                        </mat-card-header>
                        
                        <div class="img-cards">
                            <img mat-card-image src="" />
                        </div>
                        
                        <mat-card-content>

                        </mat-card-content>
                        
                        <mat-card-actions>
                            <button mat-button>LIKE</button>
                            <button mat-button>SHARE</button>
                        </mat-card-actions>  
                    </mat-card>
                </div>
            </div>
        </div>
        
        
        
        
        
        
        
        
        
        <div class="col-lg-3 col-md-6 col-sm-12">
            
            <div class="landing-card">
                
                <div class="landing-card-front">
                    <mat-card>
                        
                        <mat-card-header>
                            <div mat-card-avatar class="landing-header-image"><i class="far fa-building"></i></div>
                            <mat-card-title>Plumbing</mat-card-title>
                        </mat-card-header>
                        
                        <div class="img-cards">
                            <img mat-card-image src="https://dhcomm.net/images/publics/backgrounds/plumbing1.png" alt="" />
                        </div>
                        
                        <mat-card-content>

                        </mat-card-content>
                        
                        <mat-card-actions>
                            <button mat-button>LIKE</button>
                            <button mat-button>SHARE</button>
                        </mat-card-actions>
                        
                    </mat-card>
                </div>
                
                <div class="landing-card-back">
                    <mat-card>
                        
                        <mat-card-header>
                            <div mat-card-avatar class="landing-header-image"><i class="far fa-building"></i></div>
                            <mat-card-title>Plumbing</mat-card-title>
                        </mat-card-header>
                        
                        <div class="img-cards">
                            <img mat-card-image src="" />
                        </div>
                        
                        <mat-card-content>

                        </mat-card-content>
                        
                        <mat-card-actions>
                            <button mat-button>LIKE</button>
                            <button mat-button>SHARE</button>
                        </mat-card-actions>
                        
                        
                    </mat-card>
                </div>
            </div>
        </div>
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        

        <div class="col-lg-3 col-md-6 col-sm-12">

            <mat-card class="landing-card">
                <mat-card-header>
                  <div mat-card-avatar class="landing-header-image"><i class="fas fa-screwdriver"></i></div>
                  <mat-card-title>Electricity</mat-card-title>
                  <!-- mat-card-subtitle>Dog Breed</mat-card-subtitle -->
                </mat-card-header>
                <div class="img-cards">
                    <img mat-card-image src="https://dhcomm.net/images/publics/backgrounds/Electricity1.png" alt="" />
                </div>
                
                <mat-card-content>

                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>

        </div>

    </div>

   


</div>